<br>
<h1 align="center">Aquí está mi portafolio Web.</h1>
<br>

<div class="container d-grid gap-5 " style="display: flex;align-items: center; justify-content: center;">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <%= image_tag 'portafolioUno.png'  %>
                <div class="card-body">
                    <h5 class="card-title">Docentedigital.org</h5>
                    <br>
                    <p class="card-text" align="justify">Plataforma de enseñanza para matemáticas y lenguajes de programación.</p>
                    <br>
                    <a href="#" class="btn btn-primary link_navbar">Ver más</a>                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <%= image_tag 'portafolioSeis.png'  %>
                    <div class="card-body">
                        <h5 class="card-title">Docentedigital.org</h5>
                        <br>
                        <p class="card-text" align="justify">Plataforma de enseñanza para matemáticas y lenguajes de programación.</p>
                        <br>
                        <a href="#" class="btn btn-primary link_navbar">Ver más</a>
                    </div>
                </div>
        </div>
         <div class="col">
            <div class="card" style="width: 18rem;">
                <%= image_tag 'portafolioDos.png'  %>
                    <div class="card-body">
                        <h5 class="card-title">Docentedigital.org</h5>
                        <br>
                        <p class="card-text" align="justify">Plataforma de enseñanza para matemáticas y lenguajes de programación.</p>
                        <br>
                        <a href="#" class="btn btn-primary link_navbar">Ver más</a>
                    </div>
                </div>
        </div>
    </div>
    <!-- Segunda fila -->


    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
            <%= image_tag 'portafolioSiete.png'  %>
                <div class="card-body">
                    <h5 class="card-title">eCommerce</h5>
                    <br>
                    <p class="card-text" align="justify">Plataforma de compra on  para pequeñas y medianas empresas en productos de electrónica y computadores.</p>
                    <br>
                    <a href="#" class="btn btn-primary link_navbar">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <%= image_tag 'portafolioCuatro.png'  %>
                <div class="card-body">
                    <h5 class="card-title">Sitios web profesionales</h5>
                    <br>
                    <p class="card-text" align="justify">Plataforma de enseñanza para matemáticas y lenguajes de programación.</p>
                    <br>
                    <a href="#" class="btn btn-primary link_navbar">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <%= image_tag 'portafolioCinco.png'  %>
                <div class="card-body">
                    <h5 class="card-title">Ricky y Morty</h5>
                    <br>
                    <p class="card-text" align="justify">Plataforma de enseñanza para matemáticas y lenguajes de programación.</p>
                    <br>
                    <a href="#" class="btn btn-primary link_navbar">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>